/*---------ChatView---------*/
.display {
	height: calc(100vh - 60px);
	width: calc(100vw - 330px);
	overflow-y: auto;
	background-color: black;
	color: grey;
}

.inputBox {
	height: 60px;
	width: 100%;
}

.inputBox > input{
	width: 80%;
	margin: 18px;
}

.inline-view{
	display: inline-block;
	overflow: auto;
}