.menu-container {
    width: 16rem;
    height: 100vh;
    background-color: #2c3e50;
}

.server-title-header{
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.server-title-header:hover{
    background-color: #232d38;
}

.server-title{
    font-size: 1.4rem;
    line-height: 0;
    font-weight: bold;
}

.server-title i{
    font-size: 1.5rem;
    margin-left: 0.5rem;
}