.channel-container {
    width: inherit;
}

.channel-container h6{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    color: white;
}

.channel-container button{
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    border-width: inherit;
    text-align: left;
    border-radius: 5px;
    background-color: inherit;
}

.channel-container button:hover{
    background-color: #1a253093;
}

.channel-btns a{
    font-size: 1.1rem;
    font-weight: 500;
}