.room-view-container {
	display: inline-flex;
	width: calc(100% - 5rem);
}

.optionsView {
	text-align: center;
	height: 100vh;
	width: 240px;
	overflow-y: auto;
	background-color: yellow;
}

.roomList > ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.item {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	width: 80px
}

.item > a {
	color: black;
  	text-decoration: none;
}

.item > a:hover {
	color: green;
}

.logo {
	height: 50px;
	width: auto;
	padding: 10px;
}