.user-menu {
    position: absolute;
    top: 5rem;
    width: 16rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    transition: all 1s ease-in-out;
}

.user-menu i {
    margin-right: 1rem;
}

.user-menu button {
    background-color: transparent;
    border-width: inherit;
    font-weight: bold;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
}

.user-stats-online{
    margin-top: 1rem;
    color: #2ecc71
}

.user-stats-idle{
    color: #f1c40f;
}

.account-set{
    color: #3498db;
}

.logout-btn{
    color: #e74c3c;
    margin-bottom: 1rem;
}

.status-label{
    font-weight: bold;
    position: relative;
    left: 5rem;
    top: 0.7rem;
}

.invite-container {
    position: absolute;
    outline: none;
    width: 20rem;
    height: 1rem;
    border: none;
    border-radius: 8px;
    left: 8rem;
    top: 1.4rem;
}

.invite-container > input {
    text-align: center;
    outline: none;
    width: inherit;
    border: none;
    border-radius: inherit;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}