body {
  margin: 0;
  background-color: #34495e !important;
}

.login-container{
  width: 30rem;
  height: 30rem;
  background-color: #ecf0f1;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-txt{
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white !important;
}

.login-btn-container{
  background: #e74c3c;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  width: 70%;
  margin: auto;
  bottom: 10rem;
  position: relative;
  height: 3.3rem;
}

.login-btn-container:hover{
  background: #c0392b;
}

.small-text{
  position: relative;
  top: 0.8rem;
}

.login-logo{
  width: 30rem;
  bottom: 12rem;
  position: relative;
}