input, button:focus { 
    outline: none; 
}

body{
    overflow: hidden;
}

.home-local button:hover{
    border-radius: 20px;
}

.client-servers button:hover{
    border-radius: 20px;
}

.client-local button:hover{
    border-radius: 20px;
}

.server-container{
    background-color: #1a2530;
    z-index: 3;
    box-shadow: 10px 30px 50px 0px #232d38;
}

.left-container{
    background-color: #2c3e50;
    height: 100vh;
    color: aliceblue;
    padding: 0 !important;
    max-width: 16rem !important;
    min-width: 16rem !important;
}

.server-title-header{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.server-title-header:hover{
    background-color: #232d38;
}

.server-title{
    font-size: 1.5rem;
    line-height: 0;
    font-weight: bold;
}

.home-local button {
    width: 3.5rem;
    background-color: #232d38;
    outline: none !important;
    border-width: inherit;
    height: 3.5rem;
    margin: 1rem;
    margin-left: 2rem;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.divider{
    background-color: rgb(228, 228, 228);
    height: 0.05rem;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.home-local i{
    font-size: 1.5rem;
    color: white;
}

.client-servers{
    display: grid;
}

.client-local button{
    width: 3.5rem;
    border-radius: 50%;
    border-width: inherit;
    height: 3.5rem;
    margin: 1rem;
    margin-left: 2rem;
    background-color: #232d38;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.client-servers button{
    border-radius: 50%;
    background-color: rgb(170, 127, 255);
    border-width: inherit;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    transition: all 0.5s ease-in-out;
}

.username-stats i{
    color: #2ecc71;
    font-size: 0.8rem;
}

.server-title i{
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.user-menu{
    position: absolute;
    top: 5rem;
    left: 1rem;
    width: 18rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    transition: all 1s ease-in-out;
}

.account-set{
    color: #3498db;
}

.user-stats{
    margin-top: 1rem;
    color: #2ecc71
}

.user-menu button{
    background-color: transparent;
    border-width: inherit;
    font-weight: bold;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
}

.user-menu button:hover{
    filter: blur(2px)
}

.logout-btn{
    color: #e74c3c;
    margin-bottom: 1rem;
}

.user-menu i{
    margin-right: 0.5rem;
}

.user-menu{
    display: none;
}

.server-title-header:hover > .user-menu{
    display: block;
}

.left-container{
    z-index: 2;
}
.middle-container{
    margin: 0 !important;
    padding: 0;
    width: 100%;
    max-width: inherit !important;
    background-color: #efecec;
    flex: 1 !important;
    overflow: hidden;
}

.chan-header{
    border-bottom: 0.5px solid rgb(213, 213, 213);
    z-index: 2;
    padding-left: 2rem;
}

.chan-header h1{
    font-weight: bold;
    color: #2c3e50;
}

.chan-header h3{
    font-weight: bold;
    color: #2c3e50;
    line-height: 1.7;
    margin-left: 0.3rem;
}

.chan-header p{
    position: relative;
    top: 0.8rem;
    margin-left: 1rem;
}


.sender-container{
    border-radius: 10px;
    justify-content: center;
    display: flex;
    width: 99%;
    height: 3rem;
    border: 1px solid #1a2530;
}

.bottom-container{
    bottom: 0;
    padding: 1rem;
    width: 100%;
    position: absolute;
}

.message-container{
    padding: 1rem;
}

.message-field{
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    border-width: 0px !important;
    box-shadow: none !important;
    margin-left: 2rem;
}

.right-container{
    min-width: 16rem;
    max-width: 16rem;
}


/* MESSAGE INPUT */

.channel-container h6{
    margin-left: 1rem;
    font-weight: bold;
}

.user-input{
    display: flex;
}

.channel-container i{
    font-weight: bold;
    margin-right: 0.5rem;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.mess-timestamp{
    font-size: 0.7rem;
    color: #808080;
}

.username-message{
    font-weight: bold;
}

.message-container{
    overflow: auto;
    position: absolute;
    bottom: 4rem;
    width: 100%;
    max-height: 200px;
}

.inner-userInput-content p{
    max-width: 50rem;

}

.user-input{
    padding: 0.2rem 0.5rem;
    overflow: none;
    position: relative;
    width: 100%;
}

.user-profile-pic{
    width: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.channel-btns a{
    font-size: 1.1rem;
    font-weight: 500;
}

.channel-container button{
    width: 85%;
    padding: 0.5rem 1rem;
    margin: 0rem 0.5rem;
    color: white;
    border-width: inherit;
    text-align: left;
    border-radius: 5px;
    background-color: inherit;
}

.channel-container button:hover{
    background-color: #1a253093;
}