body{
  background-image: url(/public/assets/images/backgroundlogin.jpg);
  width: 100%;
  height: 100%;
  background-image: center;
}

.login-container{
  width: 30rem;
  height: 40rem;
  background-color: #ecf0f1;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-btn{
  width: 70%;
  color: white;
  border: inherit;
  background-color: #e74c3c;
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.3rem 0;
}

.login-btn:hover{
  background-color: #c0392b;
}

.create-btn{
  border: inherit;
  background-color: inherit;
  color: #797979;
  margin-top: 1rem;
}

.login-logo{
  width: 30rem;
  bottom: 12rem;
  position: relative;
}

.input-field{
  outline: none;
  border: inherit;
  background-color: white;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 1rem 0rem;
  width: 80%;
  box-sizing: inherit;
  color: black !important;
  border: 1px solid rgb(211, 211, 211);
}

#password{
  margin-bottom: 2rem;
}

.post-container{
  position: relative;
  bottom: 12rem;
}