.home-menu-container {
    display: inline-block;
    width: 16rem;
    height: 100vh;
    background-color: #2c3e50;
}
 
.profileView {
    /*display: inline-block;*/
    text-align: center;
}

.iconView {
    margin: 20px;
    width: inherit;
}

.icon {    
    border-radius: 50%;
    width: 10rem;
}

.nameField {
    width: inherit;
    color: white
}

.details {
    width: inherit;
    color: white;
}

.home-divider {
    width: 98%;
    /*border-radius: 50%;*/
    border-bottom: 2px solid #1a2530;
    margin-left: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.friend-panel a{
    font-size: 1.1rem;
    font-weight: 500;
}

.friend-panel button {
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    border-width: inherit;
    text-align: left;
    border-radius: 5px;
    background-color: inherit;
}

.user-panel {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.user-panel button{
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #253443;
    border-width: inherit;
    color: white;
    text-align: left;
    margin-bottom: 0.1rem;
}

.user-panel i{
    margin-right: 1rem;
    margin-left: 1rem;
}

.dm-label{
    color: white !important;
    margin-left: 1rem;
}