.middle-container{
    max-width: inherit !important;
    background-color: #efecec;
    /*flex: 1 !important;*/
    overflow: hidden;
}

.chan-header{
    border-bottom: 0.5px solid rgb(213, 213, 213);
    z-index: 2;
    padding-left: 2rem;
}

.chan-header h1{
    font-weight: bold;
    color: #2c3e50;
}

.chan-header h3{
    font-weight: bold;
    color: #2c3e50;
    line-height: 1.7;
    margin-left: 0.3rem;
}

.chan-header p{
    position: relative;
    top: 0.8rem;
    margin-left: 1rem;
}


.sender-container{
    border-radius: 10px;
    justify-content: center;
    display: flex;
    width: 99%;
    height: 3rem;
    border: 1px solid #1a2530;
}

.bottom-container{
    bottom: 0;
    padding: 1rem;
    width: 100%;
    position: absolute;
}

.message-container{
    padding: 1rem;
}

.message-field{
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    border-width: 0px !important;
    box-shadow: none !important;
    margin-left: 2rem;
}

.right-container{
    min-width: 16rem;
    max-width: 16rem;
}


/* MESSAGE INPUT */

.user-input{
    display: flex;
}

.mess-timestamp{
    font-size: 0.7rem;
    color: #808080;
}

.username-message{
    font-weight: bold;
}

.message-container{
    overflow: auto;
    position: absolute;
    bottom: 4rem;
    width: 100%;
    max-height: 200px;
}

.inner-userInput-content p{
    max-width: 50rem;

}

.user-input{
    padding: 0.2rem 0.5rem;
    overflow: none;
    position: relative;
    width: 100%;
}

.user-profile-pic{
    width: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
}