.nav-container {
    display: inline-block;
    text-align: center;
    width: 5rem;
    height: 100vh;
    overflow-y: auto;
    background-color: #1a2530;
}

.nav-container::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.nav-container::-webkit-scrollbar-track {
    background-color: #1a2530;
}

/* Handle */
.nav-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.nav-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.home-local i{
    font-size: 1.5rem;
    color: white;
}

.home-local button {
    outline: none;
    width: 3.5rem;
    height: 3.5rem;
    border-width: inherit;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #232d38;
    transition: all 0.5s ease-in-out;
}

.home-local button:hover{
    border-radius: 20px;
}

.home-local button:focus{
    border-radius: 20px;
}

.client-servers{
    display: grid;
}

.client-servers button{
    outline: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border-width: inherit;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(170, 127, 255);
    transition: all 0.5s ease-in-out;
}

.client-servers button:hover{
    border-radius: 20px;
}

.client-servers button:focus{
    border-radius: 20px;
}

.join-server button{
    outline: none;
    border-radius: 50%;
    height: 3.5rem;
    background-color: #232d38;
    color: white;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.join-server button:hover{
    border-radius: 20px;
}

.join-server button:focus{
    border-radius: 20px;
}

.createRoom-container{
    width: 40rem;
    height: 27rem;
    background-color: #ecf0f1;
    z-index: 2;
    position: absolute;
    border-radius: 15px;
}

.createRoom-header{
    font-weight: bold;
    padding: 2rem;
}

.createRoom-content{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.createRoom-btn-container{
    background-color: #dcdcdc;
    padding: 2rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 17rem;
    height: 18rem;
    border-radius: 10px;
}

.createRoom-btn{
    color: white;
    width: 15rem;
    position: relative;
    right: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    top: 12.4rem;
}
#createRoom{
    background-color: #3498db;
    
}

#joinRoom{
    background-color: #2ecc71;
}